#process_state_details {
    height: 600px;
}

#process_state_details .gwt-StyledScrollPanel {
    height: 555px;
}

#execution_detail_panel .connectors .connector_entry {
    display: inline-block !important;
    width: 30%;
    min-width: 150px;
}

.disconnected {
  border-radius: 8px;
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}